body {
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2
}

.news {
  border-style:solid;
  border-width:3px;
  display: flex;
  flex-direction: row;
}

.news > div {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.small-container > input {
  width: 300px;
  height:40px;

}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.flex-container > div {
  margin: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}



.row{
  display: flex;
  flex-direction: row;
  margin: 0 -16px;
}
.row > input {
  width: 100px;
  height:40px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.btnn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btnn:hover {
  background-color: #45a049;
}


.top-container {
  padding: 8%;
  padding-top:100px;
}

.middle-container {
  padding: 10%;
  padding-top:100px;
}

.contact {
  padding: 10%;
  padding-top:100px;
  text-align: center;
}


.intro{
  text-align: center;
}

.problem4 {
  background-color: #474e5d;
  padding: 10%;
  padding-top:100px;
}


.timeline-container {
  border-style:solid;
  border-width:3px;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}


/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }