body {
  background-color: #f6f6f6;

  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2
}

.news {
  border-style:solid;
  border-width:3px;
  display: flex;
  flex-direction: row;
}

.news > div {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}


.flex-container {
  display: flex;
  background-color: antiquewhite;


}


.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.top-container {
  padding: 8%;
  padding-top:100px;
}

.middle-container {
  padding: 10%;
  padding-top:100px;
}

.bottom-container {
  padding: 10%;
  padding-top:100px;
}

.contact {
  padding: 10%;
  padding-top:100px;
  text-align: center;
}


.intro{
  text-align: center;
}
